<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <title> <%= title%></title>
  
    <%- style %>
</head>
<body>
    <%- include('_header');%>

    <% if(flash.success && flash.success.length>0) {  %>
        
        <h4><%= flash.success %></h4>

        <%}%>
    
        <%- body %>

    <%- include('_footer');%>
    
    <%- script %>
    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>